@media (max-width:2560px) {

    .navbar {
        width: 270px;
        height: 100%;
        opacity: 0.6;
    }



    .navbar .list {
        margin-top: 7rem;
    }



    .menu ion-icon {
        width: 4rem;
        height: 4rem;
        color: white;
        opacity: 1;
        z-index: 1000;

    }
}

@media (max-width:1440px) {


    .navbar {

        width: 200px;
        opacity: .5;
    }

    .mains {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;

    }




    .summaryContainer {

        display: flex;

        margin-top: 2rem;
        gap: 2rem;
    }

    .box {


        width: 300px;
        height: 125px;

    }

    .table-title {
        width: fit-content;
        display: flex;

        gap: 2rem;
    }

    .tableList {

        gap: 3rem;
    }

    table {
        display: flex;

    }



    .for-tr {

        height: auto;
    }

    .form {

        margin-right: 9rem;
    }
}


@media (max-width:1440px) {

    .navbar {

        width: 200px;
        height: 100%;
        opacity: 1;
    }

    .headers {

        display: block;

    }

    .menu ion-icon {

        display: flex;
        width: 4rem;
        height: 4rem;
        color: white;
        opacity: 1;
        z-index: 1000;

    }



    .list {

        gap: 3rem;
    }


    .items {

        gap: 1rem;
    }

    .items a {

        font-size: 15px;
    }

    .items svg {
        width: 35px;
        height: 35px;
    }

    .mains span {
        font-size: 15px;
    }

    .summaryContainer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin-top: 2rem;
        gap: 1rem;
    }




    .box {
        width: 250px;
        height: 100px
    }

    .table-title {
        width: fit-content;
        display: flex;
        gap: 1rem;

    }

    .tableList {
        font-size: medium;
        width: fit-content;
        gap: 2rem;

    }

    .tableList li a {
        font-size: medium;
        font-weight: 700;
    }

    .tableList h1 {
        font-size: medium;
    }

    .for-th {
        font-size: small;
        font-weight: 900;
        gap: 3rem;

    }

    .for-tr {
        font-size: 12px;

        gap: 3rem;

    }

    .filter {

        margin-right: 0;
    }

    table {
        display: flex;

    }

    .for-tr .btn {
        gap: 1rem;

    }

    .for-tr .btn button {
        font-size: small;
    }
}

@media (max-width:1024px) {
    .navbar {

        width: 250px;
        opacity: .5;
        height: 100%;
    }

    .menu ion-icon {
        display: flex;
        width: 4rem;
        height: 4rem;
        color: white;
    }

    .header {
        width: 50%;
    }

    .menu-icons {
        margin-left: 4rem;
        top: 0;
    }

    .mains span {
        font-size: 12px;
    }

    .box .seemore svg {
        width: 2rem;
        height: 2rem;
    }

    .navbar {
        height: 100%;
    }

}

@media (max-width:768px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100%;
    }

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .navbar {
        width: 220px;
        opacity: .5;
        height: 100%;
        display: none;
    }

    .navbar.open {
        display: flex;
    }

    .menu {
        display: flex;
    }

    .navbar .list {
        gap: 10rem;
    }


    .menu ion-icon {
        display: flex;
        width: 4rem;
        height: 4rem;
        color: white;
    }

    .recharts-wrapper svg {

        width: fit-content;
        width: 300px;
        height: 150px;
    }



    .box {
        width: 190px;
        height: 90px;
    }

    .seemore {

        font-size: 3rem;
    }

    table {
        width: 100%;
    }

    .table-title {
        width: fit-content;
        display: flex;
        gap: 1rem;


    }

    .tableList {
        font-size: medium;
        width: fit-content;
        gap: 1rem;

    }

    .tableList li a {
        font-size: small;
        font-weight: 400;
    }

    .tableList h1 {
        font-size: small;
    }

    .for-th {
        font-size: small;
        font-weight: 600;
        gap: 3rem;


    }

    .for-tr {
        font-size: 10px;

        gap: 2rem;

    }

    .for-tr .btn {
        gap: 1rem;

    }

    .for-tr .btn button {
        font-size: small;
    }

    .card1 {
        background-color: aqua;
        width: 40px;
        height: 40px;
    }

    .card2 {
        width: 40px;
        height: 40px;
    }

    .card3 {
        width: 40px;
        height: 40px;
    }

    .card4 {
        width: 40px;
        height: 40px;

    }

    .card1 ion-icon {
        width: 15px;
        height: 15px;
        margin-top: .2em;
        margin-left: -.5em;
    }

    .card2 ion-icon {
        width: 15px;
        height: 15px;
        margin-top: .2em;
        margin-left: -.5em;
    }

    .card3 ion-icon {
        width: 15px;
        height: 15px;
        margin-top: .2em;
        margin-left: -.5em;
    }

    .card4 ion-icon {
        width: 15px;
        height: 15px;
        margin-top: .2em;
        margin-left: -.5em;

    }



    .form .form-item input,
    select {
        width: 25rem;
        font-size: 7px;
    }


}

@media (max-width:425px) {


    html {
        font-size: 6px;
    }

    .container {
        width: 100%;
    }

    .summaryContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box:last-child {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 100%;
        grid-column: span 2;

    }

    .header {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;

        gap: 5rem;
        font-size: 6px;
        margin-top: 5rem;
    }

    .header h1 {
        font-size: 12px;

    }

    .navbar {
        width: 30%;
        opacity: .5;
        height: 100%;
        display: none;



    }

    .navbar.open {
        display: flex;
    }

    .menu {
        display: flex;
    }


    .navbar .list {
        margin-top: 6rem;
    }

    .navbar .list a {
        font-size: medium;
    }

    .profile img {
        width: 50px;
        height: 100%;

    }

    .items svg {
        width: 15px;
        height: 15px;
        fill: aliceblue;

    }



    .header .filters,
    option {
        width: 75px;
        height: 20px;
        font-size: medium;
    }

    .menu {
        z-index: 1000;
    }

    .menu ion-icon {
        display: flex;
        width: 5rem;
        height: 5rem;
        color: white;
        z-index: 1000;
    }

    .header img {
        width: 4rem;
        top: 3.5rem;
        right: 1rem;
    }

    .mains {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .box {
        width: 150px;
        height: 60px;

    }

    .box svg {
        width: rem;
        height: 4rem;
    }

    .seemore svg {
        color: #097859;
        width: 2rem;
        height: 2rem;
        position: absolute;
        width: fit-content;
        overflow: hidden;
        cursor: pointer;
        margin: auto;
        text-decoration: none;
        right: 10px;
        bottom: 5px;
        color: #000000;
        text-transform: capitalize;
        fill: rgb(0, 0, 0);
    }

    table {
        width: 100%;
    }

    .table-title {
        width: fit-content;
        display: flex;
        font-size: 6px;


    }

    .table-title .filter,
    option {

        width: 100px;
    }

    .tableList {
        font-size: 5px;
        width: fit-content;


    }

    .tableList li a {
        font-size: 7px;

    }

    .tableList h1 {
        font-size: 7px;
    }

    .for-tr .btn button {
        font-size: 7px;
    }




    .form .form-item input,
    select {
        width: 21rem;
        font-size: 7px;
    }



}

@media (max-width:375px) {
    html {
        font-size: 6px;
    }

    .container {
        width: 100%;
    }

    .summaryContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box:last-child {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 100%;
        grid-column: span 2;

    }

    .header {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;

        gap: 5rem;
        font-size: 6px;
    }

    .navbar {
        width: 30%;
        opacity: .5;
        height: 100%;



    }

    .navbar .list {
        margin-top: 8rem;
    }

    .navbar .list a {
        font-size: medium;
    }

    .menu {
        display: flex;
        margin-left: 10rem;
    }

    .profile img {
        width: 50px;
        height: 50px;
    }

    .items svg {
        width: 15px;
        height: 15px;
        fill: aliceblue;

    }



    .header .filters,
    option {
        width: 75px;
        height: 20px;
        font-size: medium;
    }

    .menu {
        z-index: 1000;
    }

    .menu ion-icon {
        display: flex;
        width: 5rem;
        height: 5rem;
        color: white;
        z-index: 1000;
    }

    .header img {
        width: 4rem;
        top: 3.5rem;
        right: 1rem;
    }

    .mains {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .box {
        width: 150px;
        height: 60px;

    }

    .box svg {
        width: rem;
        height: 4rem;
    }

    .seemore svg {
        color: #097859;
        width: 2rem;
        height: 2rem;
        position: absolute;
        width: fit-content;
        overflow: hidden;
        cursor: pointer;
        margin: auto;
        text-decoration: none;
        right: 10px;
        bottom: 5px;
        color: #000000;
        text-transform: capitalize;
        fill: rgb(0, 0, 0);
    }

    table {
        width: 100%;
    }

    .table-title {
        width: fit-content;
        display: flex;
        font-size: 6px;


    }

    .table-title .filter,
    option {

        width: 100px;
        font-size: 10px;
    }

    .tableList {
        font-size: 5px;
        width: fit-content;


    }

    .tableList li a {
        font-size: 7px;

    }

    .tableList h1 {
        font-size: 7px;
    }

    .for-tr .btn button {
        font-size: 10px;
    }



    .form .form-item input,
    select {
        width: 18rem;
        font-size: 7px;
    }



}



@media (max-width:320px) {
    html {
        font-size: 6px;
    }

    .container {
        width: 100%;
    }

    .menu {
        display: flex;
    }

    .summaryContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box:last-child {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 100%;
        grid-column: span 2;

    }

    .header {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 5rem;
        font-size: 6px;
    }

    .header h1 {
        font-size: 12px;

    }

    .navbar {
        width: 45%;
        opacity: .5;
        height: 100%;
        display: none;


    }

    .navbar .list {

        margin-top: 10rem;
    }

    .navbar .list a {
        font-size: medium;
    }

    .profile img {
        width: 50px;
        height: 100%;

    }

    .items svg {
        width: 15px;
        height: 15px;
        fill: aliceblue;

    }



    .header .filters,
    option {
        width: 75px;
        height: 20px;
        font-size: medium;
    }

    .menu {
        z-index: 1000;
    }

    .menu ion-icon {
        display: flex;
        width: 5rem;
        height: 5rem;
        color: white;
        z-index: 1000;
    }

    .header img {
        width: 4rem;
        top: 3.5rem;
        right: 1rem;
    }

    .mains {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .box {
        width: 150px;
        height: 60px;

    }

    .box svg {
        width: rem;
        height: 4rem;
    }

    .seemore svg {
        color: #097859;
        width: 2rem;
        height: 2rem;
        position: absolute;
        width: fit-content;
        overflow: hidden;
        cursor: pointer;
        margin: auto;
        text-decoration: none;
        right: 10px;
        bottom: 5px;
        color: #000000;
        text-transform: capitalize;
        fill: rgb(0, 0, 0);
    }

    table {
        width: 100%;
    }

    .table-title {
        width: fit-content;
        display: flex;
        font-size: 6px;


    }

    .table-title .filter,
    option {

        width: 100px;
    }

    .tableList {
        font-size: 5px;
        width: fit-content;


    }

    .tableList li a {
        font-size: 7px;

    }

    .tableList h1 {
        font-size: 7px;
    }

    .for-tr .btn button {
        font-size: 7px;
    }




    .form .form-item input,
    select {
        width: 21rem;
        font-size: 7px;
    }



}